body{
    margin: 0;
    padding: 0;
}
.navbar{
    border-radius: .5em;
}
.carousel{
    background-color:#fceae8;
    border-radius: 1em;
}
.categories .cbg_1{
    background-image: linear-gradient(145deg, rgb(200, 106, 28), greenyellow);
    margin-bottom: 1em;
}
.categories .cbg_2{
    background-image: linear-gradient(145deg, rgb(255, 0, 119), rgb(59, 0, 253));
    margin-bottom: 1em;
}
.categories .cbg_3{
    background-image: linear-gradient(145deg, rgba(0, 119, 255, 0.979), rgb(9, 235, 251));
    margin-bottom: 1em;
}
.categories img{
    width: 100px;
}
.panda_card{
    border: 0;
    border-radius: 20px;
}
.panda_card_bg{
    padding: 1em;
}
.cards:hover .panda_card_bg{
    background-color:#fceae8;
    transition: all .4s;
}
.panda_card_footer{
    border: 0;
    background-color: white;
    border-radius: 20px;
}
.btn{
    background-image: linear-gradient(145deg, goldenrod, salmon);
    padding: 20px 40px;
    margin-top: 1em;
    border: 1px solid goldenrod;
    border-radius: .4em;
}
.touch{
    background-color: #fceae8;
    padding: 5em 0em;
    border-radius: 1em;
}